

@{
    ViewData["Title"] = "Home Page";    
    int i = 0;
}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 <div class="change">
  
  </div>
<label id="datos" data-info1="@ViewBag.Json"  data-info2="@ViewBag.Sales"   ></label>



  <div class="cont cont0 line multiline">  
 
 </div>
 

 




